<h3>以下の内容で、送信する。</h3>

<%= form_with(model: @blog, url: blogs_path, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>

  <p>タイトル:<%= @blog.title %></p>
  <p>本文:<%= simple_format(@blog.content) %></p>
  <%= image_tag(@blog.image.url) %>
  <%= form.hidden_field :image_cache %>

  <%= image_tag(@blog.image1.url) %>
  <%= form.hidden_field :image1_cache %>
  <%= image_tag(@blog.image2.url) %>
  <%= form.hidden_field :image2_cache %>
  <%= image_tag(@blog.image3.url) %>
  <%= form.hidden_field :image3_cache %>

  <br><br><%= form.submit  "登録する" %>
<% end %>

<%= form_with(model: @blog, url: new_blog_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :image %>
  <%= form.hidden_field :image1 %>
  <%= form.hidden_field :image2 %>
  <%= form.hidden_field :image3 %>
  <%= form.submit "もどる", name: 'back',class:"btn-warning" %>
<% end %>
