<%= form_with(model: @blog, local: true, url: choose_new_or_edit ) do |form| %>
 <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="blog_title">
    <%= form.label :title %><br>
    <%= form.text_field :title, :size=>"50" %>
  </div><br>

  <div class="blog_content">
    <%= form.label :content %>
    <%= form.hidden_field :content, id: :blog_content %>
    <trix-editor input="blog_content"></trix-editor>
  </div>

  <span class="btn btn-secondary">
    <div class="file_field">
      <%= form.label :メイン画像 %>
      <%= form.file_field :image %>
      <%= form.hidden_field :image_cache %>
    </div>
  </span>

<br><br>
  <span class="btn btn-secondary">
    <div class="file_field">
      <%= form.label:画像1 %>
      <%= form.file_field :image1 %>
      <%= form.hidden_field :image1_cache %>
    </div>
  </span>


  <span class="btn btn-secondary">
    <div class="file_field">
      <%= form.label:画像2 %>
      <%= form.file_field :image2 %>
      <%= form.hidden_field :image2_cache %>
    </div>
  </span>

  <span class="btn btn-secondary">
    <div class="file_field">
      <%= form.label:画像3 %>
      <%= form.file_field :image3 %>
      <%= form.hidden_field :image3_cache %>
    </div>
  </span>

<br><br><br><%= form.submit "投稿する",class:"btn-primary" %>
<% end %>
